<div class="gh-container is-list gh-outer">
  <div class="gh-container-inner gh-inner">
    <main class="gh-main">
      <div class="gh-feed">
        {{#foreach posts}}
          <div class="dfi-overiew-article">
            <div class="dfi-overview-article-content">
              <h2><a href="{{slug}}">{{title}}</a></h2>
              <p>{{excerpt}}</p>
            </div>
            <figure class="dfi-overview-article-image">
              <img src="{{feature_image}}" alt="{{title}}" style="" />
            </figure>
          </div>
        {{/foreach}}
      </div>
    </main>
  </div>
</div>