<article class="post-card {{post_class}}">
    <a class="post-card__link" href="{{url}}">
        {{#if feature_image}}
            <div class="post-card__image">
                <img
                    src="{{img_url feature_image size="m"}}"
                    alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}"
                    {{#if lazyLoad}}loading="lazy"{{/if}}
                >
            </div>
        {{else}}
            <div class="post-card__image">
                <img
                    src="{{asset "images/noimage.png"}}"
                    alt="No Image"
                    {{#if lazyLoad}}loading="lazy"{{/if}}
                >
            </div>
        {{/if}}

        <div class="post-card__info">
            <h2>
                <span class="new-badge" data-published="{{published_at}}" style="display:none;color:#F00;">New</span>{{title}}
            </h2>
        </div>
    </a>
    {{#if primary_tag}}
        <a class="dfont cat-name catid68" href="{{primary_tag.url}}">{{primary_tag.name}}</a>
    {{/if}}
</article>
