<div class="gh-article-meta">
    <span>Upscale this post: </span>
    &nbsp;
    <a id="copyButton" onclick="copyToClipboard()" href="javascript:void(0)" alt="Copy to clipboard" title="Copy to clipboard">
        {{> icons/copy}}
    </a>
    &nbsp;
    <a href="https://twitter.com/intent/tweet?url={{url absolute='true'}}&amp;text={{encode title}}" target="_blank" rel="noopener" alt="Share on Twitter" title="Share on Twitter">
        {{> icons/twitter2}}
    </a>
    &nbsp;
    <a href="https://www.linkedin.com/shareArticle?mini=true&amp;url={{url absolute='true'}}&amp;title={{encode title}}" target="_blank" rel="noopener" alt="Share on LinkedIn" title="Share on LinkedIn">
        {{> icons/linkedin}}
    </a>
    &nbsp;
    <a href="https://api.whatsapp.com/send?text={{encode title}}&nbsp;{{url absolute='true'}}" target="_blank" rel="noopener" alt="Share on WhatsApp" title="Share on WhatsApp">
        {{> icons/whatsapp}}
    </a>
</div>
