<div class="gh-article-meta">
    <span>Upscale this content with your friends!</span>
    <a id="copyButton" onclick="copyToClipboard()" href="javascript:void(0)" alt="Copy to clipboard" title="Copy to clipboard">
        <i class="fas fa-copy"></i>
    </a>
    <a href="https://twitter.com/intent/tweet?url={{url absolute='true'}}&amp;text={{encode title}}" target="_blank" rel="noopener">
        <i class="fab fa-twitter"></i>
    </a>
    &nbsp;
    <a href="https://www.linkedin.com/shareArticle?mini=true&amp;url={{url absolute='true'}}&amp;title={{encode title}}" target="_blank" rel="noopener">
        <i class="fab fa-linkedin"></i>
    </a>
    &nbsp;
    <a href="https://api.whatsapp.com/send?text={{encode title}}&nbsp;{{url absolute='true'}}" target="_blank" rel="noopener">
        <i class="fab fa-whatsapp"></i>
    </a>
    &nbsp;
    <a href="https://news.ycombinator.com/submitlink?u={{url absolute='true'}}&t={{encode title}}" target="_blank" rel="noopener">
        <i class="fab fa-hacker-news"></i>
    </a>
    &nbsp;
    <a href="https://www.facebook.com/sharer.php?u={{url absolute='true'}}" target="_blank" rel="noopener">
        <i class="fab fa-facebook"></i>
    </a>
</div>

