{{!< default}}
<section class="gh-all-articles-tags-section">
 {{#get "tags" limit="all"}}
    <div class="gh-all-article-tags">
    {{#foreach tags}}
        <a class="gh-all-article-tag" href="{{url}}">{{name}}</a>
    {{/foreach}}
    </div>
{{/get}}
</section>
<section class="gh-all-articles">
    <h2>Articles</h2>

    <div id="post-feed" class="gh-home-post-feed">
    {{#foreach posts}}
        <article class="gh-home-post-card">
            <a href="{{url}}">
            <img src="{{feature_image}}" alt="{{title}}" >
            </a>
            <h3 class="gh-home-post-title">{{title}}</h3>
            <time class="gh-home-post-date" datetime="{{date format="YYYY-MM-DD"}}">{{date format="YYYY.MM.DD"}}</time>
        </article>
    {{/foreach}}
    </div>
    {{pagination}}
</section>