{{!< default}}
{{!-- The tag above means: insert everything in this file into the body of the default.hbs template --}}

<main class="gh-main gh-outer">

    {{#author}}
        <section class="gh-archive gh-inner">
            <div class="gh-archive-wrapper">
                <h1 class="gh-article-title is-title">
                    {{#if website}}
                        <a class="gh-author-social-link" href="{{website}}" target="_blank" rel="noopener">{{name}}</a>
                    {{else}}
                        {{name}}
                    {{/if}}
                </h1>
                {{#if bio}}
                    <p class="gh-article-excerpt">{{bio}}</p>
                {{/if}}
                <footer class="gh-author-meta">
                    <div class="gh-author-social">
                        {{#if facebook}}
                            <a class="gh-author-social-link" href="{{facebook_url}}" target="_blank" rel="noopener">{{> "icons/facebook"}}</a>
                        {{/if}}
                        {{#if twitter}}
                            <a class="gh-author-social-link" href="{{twitter_url}}" target="_blank" rel="noopener">{{> "icons/twitter"}}</a>
                        {{/if}}
                    </div>
                    {{#if location}}
                        <div class="gh-author-location">{{location}}</div>
                    {{/if}}
                </footer>
            </div>
            {{#if profile_image}}
                <img class="gh-article-image" src="{{img_url profile_image size="s"}}" alt="{{name}}">
            {{/if}}
        </section>
    {{/author}}
    
    <section class="gh-container is-{{#match @custom.post_feed_style "List"}}list{{else}}grid{{/match}}{{#if @custom.show_sidebar}} has-sidebar{{/if}}{{#unless @custom.show_images_in_feed}} no-image{{/unless}}">
        <div class="gh-container-inner gh-inner">
            
            <main class="gh-main">
                <div class="gh-feed">
                    {{#foreach posts}}
                        {{> "post-card"}}
                    {{/foreach}}
                </div>
            </main>

            {{#if @custom.show_sidebar}}
                <aside class="gh-sidebar">
                    <section class="gh-about">
                        {{#if @site.icon}}
                            <img class="gh-about-icon" src="{{@site.icon}}" alt="{{@site.title}}">
                        {{/if}}
                        <h3 class="gh-about-title is-title">{{@site.title}}</h3>
                        {{#if @site.description}}
                            <p class="gh-about-description is-body">{{@site.description}}</p>
                        {{/if}}
                        {{#if @site.members_enabled}}
                            {{#unless @member}}
                                <button class="gh-button">Subscribe</button>
                            {{/unless}}
                        {{/if}}
                    </section>
                </aside>
            {{/if}}

        </div>
    </section>

</main>