{{!< default}}
{{!-- The tag above means: insert everything in this file into the body of the default.hbs template --}}

{{#author}}
<section class="author-hero">
    <div class="author-hero-image">
        <div class="author-hero-cover" {{#if cover_image}}style="background-image: url({{img_url cover_image size="xl"}})"{{/if}}></div>
        {{#if profile_image}}
        <div class="author-hero-logo">
            <img src="{{img_url profile_image size="xs"}}" alt="{{name}}" loading="lazy">
        </div>
        {{/if}}
    </div>
    <div class="author-hero-content">
        <div class="author-hero-info">
            <h1 class="author-hero-title">{{name}}</h1>
            {{#if bio}}
            <p class="author-hero-bio">{{bio}}</p>
            {{/if}}
            {{#if website}}
            <div class="author-hero-website">
                <a href="{{website}}"  target="_blank" rel="noopener">{{website}}</a>
            </div>
            {{/if}}
        </div>
    </div>
</section>
{{/author}}
