{{!< default}}
{{! The tag above means: insert everything in this file into the body of the default.hbs template }}

<main class="gh-main">
	{{#author}}
		{{#if cover_image}}
			<img
				class="gh-author-cover-image"
				src="{{img_url cover_image size="l"}}"
				alt="{{name}}の写真"
			/>
		{{/if}}
		<section class="gh-author-introduction">
			{{#if name}}
				<h2 class="gh-author-section-title">{{name}}</h2>
			{{/if}}
			{{#if bio}}
				<p class="gh-author-excerpt">{{bio}}</p>
			{{/if}}
		</section>

		{{#if @member.paid}}
		<section class="gh-author-archive">
			<h2 class="gh-author-section-title">New</h2>
			<div class="gh-author-post-feed">
				{{#get
					"posts"
					filter="authors:{{slug}}"
					include="authors"
					limit="4"
					order="published_at desc"
				}}
					{{#foreach posts}}
						<article class="gh-author-post-card">
							<a href="{{url}}">
								{{#if feature_image}}
									<img src="{{feature_image}}" alt="{{title}}">
								{{else}}
									<img src="{{asset "images/default_post_feature_img.png"}}" alt="{{title}}">
								{{/if}}
							</a>
							<h3 class="gh-author-post-title">{{title}}</h3>
							<time
								class="gh-author-post-date"
								datetime="{{date format="YYYY-MM-DD"}}"
							>date {{date format="YYYY.MM.DD"}}</time>
						</article>
					{{/foreach}}
				{{/get}}
			</div>
		</section>
		{{/if}}
	{{/author}}
</main>