<!DOCTYPE html>
<html lang="{{@site.locale}}" class="has-light-text">
<head>

    {{!-- Basic meta - advanced meta is output with {{ghost_head}} below --}}
    <title>{{meta_title}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    
    {{!-- Preload main styles and scripts for better performance --}}
    <link rel="preload" as="style" href="{{asset "built/screen.css"}}">
    {{!-- <link rel="preload" as="script" href="{{asset "built/source.js"}}"> --}}

    {{!-- Theme assets - use the {{asset}} helper to reference styles & scripts, this will take care of caching and cache-busting automatically --}}
    <link rel="stylesheet" type="text/css" href="{{asset "built/screen.css"}}">

    {{!-- Custom background color --}}
    <style>
        :root {
            --background-color: {{@custom.site_background_color}}
        }
    </style>
{{#is "home"}}
{{!-- Home dont need change locales --}}
{{else}}
    <script>
        /* Set the language attribute on the HTML element based on the subpath of the URL
        This script will set the language attribute on the HTML element based on the subpath of the URL
        */
        document.addEventListener('DOMContentLoaded', function () {
            var path = window.location.pathname.split('/')[1]; // Get the first subpath
            var lang = '{{@site.locale}}'; // Default language

            // Map subpaths to locales
            var localeMap = {
                'es': 'es',
                'br': 'pt',
                'en': 'en',
                // Add more mappings as needed
            };

            if (localeMap.hasOwnProperty(path)) {
                lang = localeMap[path];
            }

            document.querySelector('html').setAttribute('lang', lang);
        });
    </script>
{{/is}}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/brands.min.css" integrity="sha512-DJLNx+VLY4aEiEQFjiawXaiceujj5GA7lIY8CHCIGQCBPfsEG0nGz1edb4Jvw1LR7q031zS5PpPqFuPA8ihlRA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    {{!-- Ghost outputs important meta data with this tag --}}
    {{ghost_head}}

</head>

<body class="{{body_class}} has-{{#match @custom.title_font "Elegant serif"}}serif{{else match @custom.title_font "Consistent mono"}}mono{{else}}sans{{/match}}-title has-{{#match @custom.body_font "Elegant serif"}}serif{{else}}sans{{/match}}-body">

<div class="gh-viewport">
    
    {{> "components/navigation" navigationLayout=@custom.navigation_layout}}

    {{{body}}}
    
    {{> "components/footer"}}
    
</div>
{{#is "post, page"}}
{{> "lightbox"}}
{{/is}}

{{#is "post"}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tocbot/4.28.2/tocbot.min.css" integrity="sha512-4q0OX9NAYcRTFEfy9nTK0AV9N7MxM665neDXEW3CjAj1pXc6+8Bcd6ryXl6cY8mTBBXt0aXepnSDLLQZSuJRww==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <style>
        .gh-content {
            position: relative;
        }

        .gh-toc > .toc-list {
            position: relative;
            padding-right: 20px;
        }

        .toc-list {
            overflow: hidden;
            list-style: none;
        }

        @media (min-width: 1300px) {
            .gh-sidebar {
                position: absolute; 
                top: 0;
                bottom: 0;
                margin-top: 4vmin;
                grid-column: wide-start / main-start; /* Place the TOC to the left of the content */
            }

            .gh-toc {
                position: sticky; /* On larger screens, TOC will stay in the same spot on the page */
                top: 4vmin;
            }
        }

        .gh-toc .is-active-link::before {
            background-color: var(--ghost-accent-color); /* Defines TOC   accent color based on Accent color set in Ghost Admin */
        } 
        </style>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tocbot/4.28.2/tocbot.min.js" integrity="sha512-+9XzRSJjnUN2OI106uAbbVZ3f+z1ncIRZFOr56hEdaxbQeZ8i1+B7OVjdF8tG4YhgxM/rWP73K2SiG93x6UJoQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script>
            tocbot.init({
                // Where to render the table of contents.
                tocSelector: '.gh-toc',
                // Where to grab the headings to build the table of contents.
                contentSelector: '.gh-content',
                // Which headings to grab inside of the contentSelector element.
                headingSelector: 'h1, h2, h3, h4, h5, h6',
                // Ensure correct positioning
                hasInnerContainers: true,
            });
        </script>
{{/is}}

{{!-- Scripts - handle responsive videos, infinite scroll, and navigation dropdowns --}}
<script src="{{asset "built/source.js"}}"></script>

{{!-- Ghost outputs required functional scripts with this tag, it should always be the last thing before the closing body tag --}}
{{ghost_foot}}

</body>
</html>
