<html class="no-js" lang="ja">
	<head>
		<meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

		<title>{{statusCode}} — {{message}}</title>

		<meta name="HandheldFriendly" content="True" />
		<meta name="MobileOptimized" content="320" />
		<meta
			name="viewport"
			content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1"
		/>
		<meta name="apple-mobile-web-app-capable" content="yes" />

		<link rel="shortcut icon" href="{{asset 'favicon.ico'}}" />
		<meta http-equiv="cleartype" content="on" />
		<link rel="preload" as="style" href="{{asset 'built/screen.css'}}" />
		<link
			rel="stylesheet"
			type="text/css"
			href="{{asset 'built/screen.css'}}"
		/>

	</head>
	<body>
		<main class="gh-viewport" role="main" id="main">
			<div class="gh-error-content">
				<div class="gh-error-message">
					<h1 class="gh-error-code">404</h1>
					<p class="gh-error-description">ページが見つかりません。</p>
				</div>
				<img
					class="gh-error-image"
					sizes="197px 295px"
					src="/assets/images/not-found-error.png"
					alt="404 Not Found"
				/>
				{{! TODO: Buttonコンポーネントにする }}
				<a class="gh-error-link" href="{{@site.url}}">TOPページへ戻る</a>
			</div>
		</main>
	</body>
</html>