{{!< default}}
<main class="arcat-home-root">
    <!-- メインビジュアルセクション -->
    <section class="arcat-home-main-visual">
        <div class="arcat-home-key-visual-container">
            <img class="arcat-home-key-visual" src="{{asset "images/arcat-top.png"}}" alt="三毛猫" />
            <div class="arcat-home-site-message-wrapper">
                <h1 class="arcat-home-site-message">
                    <img class="arcat-home-key-visual-logo" src="{{asset "images/arcat-footer-logo.svg"}}" alt="Arcat." />
                    <button class="arcat-home-key-visual-button" data-portal="signup">
                        Arcatを始めよう
                    </button>
                </h1>
            </div>
        </div>
        <p class="arcat-home-section-message">A place to plan and share various things related to <br/> daily life with a focus on <br/> "people who live happily with cats".</p>
        <p class="arcat-home-section-message">Arcatは猫と楽しく暮らす人を中心に、<br/>暮らしにまつわる様々なことを企画・共有するSNSです</p>
    </section>

    <!-- 蜜なコミュニケーションセクション -->
    <section class="arcat-home-communication">
        <h2 class="arcat-home-section-title">
            {{> "icons/cat-footprint"}}
            <span>
                <span class="arcat-home-highlighted-title">Arcat_ by Cat's ISSUE</span>に参加して<br/>蜜なコミュニケーションを<br/>体験しよう
            </span>
        </h2>
        <img class="arcat-home-tyatora" src="{{asset "images/arcat-tyatora.png"}}" alt="茶トラ猫" />
        <div class="arcat-home-tyatora-message">
            <p>好きなユーザーやメディアを応援</p>
            {{> "icons/fukidashi"}}
        </div>
        <p class="arcat-home-section-message">Join Arcat. and find  <br/> cat-obsessed users and media!</p>
        <div class="arcat-home-link-group">
            <a href="" target="_blank" rel="noopener noreferrer">メディアを探す</a>
            <a href="" target="_blank" rel="noopener noreferrer">ユーザーを探す</a>
        </div>
    </section>

    <!-- オリジナルコンテンツセクション -->
    <section class="arcat-home-experts-content">
        <h2 class="arcat-home-section-title">
            {{> "icons/cat-footprint"}}
            <span>
                <span class="arcat-home-highlighted-title">編集部による</span><br/>オリジナルコンテンツ
            </span>
        </h2>
        <img class="arcat-home-shironeko" src="{{asset "images/shironeko.png"}}" alt="白猫" />
        <p class="arcat-home-section-message">Original content <br/> by the Cats Issue editorial team</p>
        <div class="arcat-home-link-group">
            <a href="" target="_blank" rel="noopener noreferrer">専門家を探す</a>
            <a href="" target="_blank" rel="noopener noreferrer">ライターを探す</a>
        </div>
    </section>

    <!-- プレミアムセクション -->
    <section class="arcat-home-premium">
        <h2 class="arcat-home-section-title">
            {{> "icons/cat-footprint"}}
            <span>
                <span class="arcat-home-highlighted-title">プレミアム登録</span>で<br/>Cats Issue 編集部と直接やりとり！
            </span>
        </h2>
        <img class="arcat-home-shirohuwaneko" src="{{asset "images/arcat-shirohuwaneko.png"}}" alt="白いふわふわな猫" />
        <p class="arcat-home-section-message">Communicate directly <br/> with the Cats Issue editorial team <br/>  byregistering for a premium</p>
        <div class="arcat-home-premium-link-group">
            <a class="arcat-home-premium-link" href="" target="_blank" rel="noopener noreferrer">
                Arcat. Premiumに加入する
            </a>
        </div>
    </section>

    <!-- 最新記事セクション -->
    {{> "components/post-list"
        sectionTitle="Arcat’s Post"
        hasMore=true
        subSectionTitle="最新記事"
        limit=5
        showPagenation=false
    }}

    <!-- ギャラリーセクション -->
    <section class="arcat-home-gallery">
        <h2 class="arcat-home-section-title">
            {{> "icons/cat-footprint"}}
            <span>
                Gallery
            </span>
        </h2>
        <img class="arcat-home-black-cat" src="{{asset "images/black-cat.png"}}" alt="黒猫" />
        <div class="arcat-home-gallery-link-group">
            <a class="arcat-home-gallery-link" href="/gallery">
                もっと見る
            </a>
        </div>
    </section>
</main>