{{!< default}}

{{#post}}

<main class="gh-main">

    <article class="gh-article {{post_class}}">

        <header class="gh-article-header gh-canvas">
            {{#if primary_tag}}
                <a class="gh-article-tag" href="{{primary_tag.url}}">{{primary_tag.name}}</a>
            {{/if}}
            <h1 class="gh-article-title">{{title}}</h1>
            {{!-- {{> "post-meta"}} --}}
            {{#if custom_excerpt}}
                <p class="gh-article-excerpt">{{custom_excerpt}}</p>
            {{/if}}
            {{> "feature-image"}}
        </header>

        <section class="gh-content gh-canvas">
            {{content}}
        </section>

    </article>

    {{#if comments}}
        <div class="gh-comments gh-canvas">
            {{comments}}
        </div>
    {{/if}}

</main>

{{/post}}

{{> "recent-posts"}}