{{!< default}}
{{!-- The tag above means: insert everything in this file into the body of the default.hbs template --}}

{{#post}}

<main class="gh-main">

    <article class="gh-article {{post_class}}">
        {{#foreach tags}}
            {{#match name "有料記事"}}
                <div class="gh-article-paid-announcement">
                    <p>有料記事もイマだけ無料公開中！</p>
                </div>
            {{/match}}
        {{/foreach}}
        {{> "feature-image"}}

        <header class="gh-article-header">

            <h1 class="gh-article-title is-title">{{title}}</h1>

            {{#if @custom.show_post_metadata}}
            <div class="gh-article-meta">
                <div class="gh-article-meta-wrapper">
                    <div class="gh-article-meta-content">
                        <time class="gh-article-meta-date" datetime="{{date format="YYYY.MM.DD"}}">date {{date format="YYYY.MM.DD"}}</time>
                    </div>
                </div>
            </div>
            {{/if}}

            <div class="gh-article-tags">
                {{#foreach tags}}
                    {{#match name "有料記事"}}
                        <a class="gh-article-tag is-paid-tag" href="{{url}}">{{name}}</a>
                    {{else}}
                        <a class="gh-article-tag" href="{{url}}">{{name}}</a>
                    {{/match}}
                {{/foreach}}
            </div>

        </header>

        <section class="gh-content gh-article-content is-body{{#if @custom.enable_drop_caps_on_posts}} drop-cap{{/if}}">
            {{content}}
        </section>

    </article>

    {{#if comments}}
        <div class="gh-comments gh-canvas">
            {{comments title="Comments" count=false}}
        </div>
    {{/if}}

</main>

{{/post}}

{{#if @custom.show_related_articles}}
    {{#get "posts" include="authors" filter="id:-{{post.id}}" limit="2" as |next|}}
        {{#if next}}
            <section class="recommend-container">
                <div class="recommend-container-inner">
                    <h2 class="recommend-container-title">You may also like</h2>
                    <div class="recommend-feed">
                        {{#foreach posts}}
                            <article class="recommend-post-card">
                                <a href="{{url}}">
                                    <img src="{{feature_image}}" alt="{{title}}" >
                                </a>
                                <h3 class="recommend-post-title">{{title}}</h3>
                                <time class="recommend-post-date" datetime="{{date format="YYYY-MM-DD"}}">date {{date format="YYYY.MM.DD"}}</time>
                            </article>
                        {{/foreach}}
                    </div>
                </div>
            </section>
        {{/if}}
    {{/get}}
{{/if}}