{{!< default}}
{{!-- The tag above means: insert everything in this file into the body of the default.hbs template --}}

{{#post}}

<main class="post-main gh-main" data-filter-tag="{{primary_tag.slug}}" data-post-id="{{id}}">
    <section class="post-hero" {{#if feature_image}}style="background-image: url('{{img_url feature_image size="xl"}}')"{{/if}}>
        <div class="post-hero-tags">
            {{#if tags}}
                {{#foreach tags limit="5"}}
                    <a class="post-hero-tag" href="{{url}}">#{{name}}</a>
                {{/foreach}}
            {{/if}}
        </div>
        <h1 class="post-hero-title">{{title}}</h1>
        <time class="post-hero-date" datetime="{{date format="YYYY-MM-DD"}}">
            {{date format="YYYY. MM. DD"}}
        </time>
    </section>

    {{!-- Content Section --}}
    <section class="post-content-wrapper">
        <div class="post-content">
            <div class="post-content-inner">
                {{!-- Breadcrumbs and Favorite --}}
                <div class="post-meta-header">
                    <div class="post-breadcrumbs">
                        <a href="{{@site.url}}">Top</a>
                        <img src="{{asset "images/icons/ArrowRight.svg"}}" alt="" width="16" height="16"/>
                        <span>記事詳細</span>
                    </div>
                    {{#if @member}}
                        {{#has visibility="paid"}}
                            {{#if @member.paid}}
                            {{> "components/post-like" stroke_color="#000" post_id=id}}
                            {{/if}}
                        {{else}}
                            {{> "components/post-like" stroke_color="#000" post_id=id}}
                        {{/has}}
                    {{/if}}
                </div>

                {{!-- Rich Text Content --}}
                <div class="post-rich-text">
                    {{content}}
                </div>

                <div class="post-magazine-logo">
                    <img src="" alt="" style="display: none;" width="237" height="86">
                </div>
            </div>
        </div>
    </section>
</main>

{{#get "posts" filter="primary_tag:{{primary_tag.slug}}+id:-{{id}}" limit="3" page="1" include="tags,group" order="published_at desc" as |posts pages|}}
    {{#if posts}}
    {{>"components/articles-section" posts=posts enTitle="Articles" jaTitle="おすすめの記事" description="行ってみたい、食べてみたいがきっと見つかる。編集者の目線で選んだ、あなたのためのおすすめ記事です。" section_type="featured" showLoadMore=pages.next}}
    {{/if}}
{{/get}}

{{/post}}
