{{!< scaffold}}
{{!-- The tag above means: insert everything in this file into the body of the default.hbs template --}}

<main class="gh-main">
  <div class="gh-signup-page">
    <header class="gh-signup-header">
      <a href="/"><img class="gh-signup-logo" src="/content/images/illustration-transparent.png" alt="{{@site.title}}" loading="lazy" /></a>
      <h1 class="is-title">Subscribe to {{@site.title}}</h1>
    </header>
    <form data-members-form data-members-autoredirect="false" class="gh-signup-form">
      <section class="gh-signup-info-section">
        <section class="gh-signup-group">
          <div class="gh-signup-label-wrapper">
            <label for="signup-name" class="gh-signup-label">Name</label>
          </div>
          <input data-members-name id="signup-name" class="gh-signup-input" type="text" name="name" placeholder=""
            autocomplete="off" autocorrect="off" autocapitalize="" aria-label="Name" value="">
        </section>
        <section class="gh-signup-group">
          <div class="gh-signup-label-wrapper">
            <label for="signup-email" class="gh-signup-label">Email</label>
          </div>
          <input data-members-email id="signup-email" class="gh-signup-input" type="email" name="email"
            placeholder="email@example.com" autocomplete="off" autocorrect="off" autocapitalize="off" aria-label="Email"
            value="">
        </section>
        <section class="gh-newsletter-subscriptions accordion">
          <div class="gh-signup-label-wrapper">
            <button class="button-reset" id="newsletter-accordion-button" aria-controls="#newsletter-list" aria-expanded="false">
              <label for="signup-name" class="gh-signup-label">Subscriptions</label>
              {{> "icons/chevron-down"}}
            </button>
          </div>
          <div class="gh-newsletter-subscription-list" id="newsletter-list" aria-controlledby="#newsletter-accordion-button" aria-hidden="true">
            {{#get "newsletters"}}
              {{#foreach newsletters}}
              <div class="gh-signup-newsletter-card">
                <label>
                  <input type="checkbox" value="{{name}}" checked data-members-newsletter />
                  {{name}}
                </label>
                <div class="gh-signup-newsletter-description">{{description}}</div>
              </div>
              {{/foreach}}
            {{/get}}
          </div>
        </section>
      </section>
        <section class="gh-signup-plans gh-inner">
        {{> "components/signup-card" plan="monthly"}}
        {{> "components/signup-card" plan="annual"}}
        {{> "components/signup-card" plan="founding"}}
        {{> "components/signup-card" plan="none"}}
      </section>
      <dialog class="gh-signup-popup">
        <button class="gh-signup-popup-close button-reset" type="reset">{{> "icons/close"}}</button>
        <div class="gh-signup-popup-message"></div>
        <p class="gh-signup-error" data-members-error><!-- error message will appear here --></p>
      </div>
    </form>
  <section class="gh-signup-alternatives">
    <p>Not seeing an option that works for you? <a href="/pay-what-you-want">Learn more</a>.</p>
    <p>Already a member? <a href="#/portal/signin" data-portal="signin">Sign in</a>.</p>
  </section>
  </div>
</main>