{{!< default}}
{{!-- The tag above means: insert everything in this file into the body of the default.hbs template --}}

<main class="gh-main gh-outer">

    {{#tag}}
        <section class="gh-archive{{#if feature_image}} has-image{{/if}} gh-inner">
            <header class="gh-archive-wrapper">
                <h1 class="gh-article-title is-title">{{name}}</h1>
                {{#if description}}
                    <p class="gh-article-excerpt">{{description}}</p>
                {{/if}}
            </header>
            {{> "feature-image"}}
        </section>
    {{/tag}}

    <section class="gh-container is-{{#match @custom.post_list_style "List"}}list{{else}}grid{{/match}}{{#if @custom.show_sidebar}} has-sidebar{{/if}}{{#if @custom.hide_images}} no-image{{/if}}">
        <div class="gh-container-inner gh-inner">
            
            <main class="gh-main">
                <div class="gh-feed">
                    {{#foreach posts}}
                        {{> "post-card"}}
                    {{/foreach}}
                </div>
            </main>

            {{#if @custom.show_sidebar}}
                <aside class="gh-sidebar">
                    <section class="gh-about">
                        {{#if @site.icon}}
                            <img class="gh-about-icon" src="{{@site.icon}}" alt="{{@site.title}}">
                        {{/if}}
                        <h3 class="gh-about-title is-title">{{@site.title}}</h3>
                        {{#if @site.description}}
                            <p class="gh-about-description is-body">{{@site.description}}</p>
                        {{/if}}
                        {{#if @site.members_enabled}}
                            {{#unless @member}}
                                <button class="gh-button">Subscribe</button>
                            {{/unless}}
                        {{/if}}
                    </section>
                </aside>
            {{/if}}

        </div>
    </section>

</main>