{{!< default}}
{{! The tag above means: insert everything in this file into the body of the default.hbs template }}

<main class="gh-main">
	{{#tag}}
		<section class="gh-tag-section">
			{{#if name}}
				<h2 class="gh-tag-section-title">{{name}}</h2>
			{{/if}}
			<div class="gh-tag-post-feed">
				{{#get "posts" filter="tags:{{slug}}" include="tags" limit="all"}}
					{{#foreach posts}}
						<article class="gh-tag-post-card">
							<a href="{{url}}">
								<img src="{{feature_image}}" alt="{{title}}" />
							</a>
							<h3 class="gh-tag-post-title">{{title}}</h3>
							<time
								class="gh-tag-post-date"
								datetime="{{date format="YYYY-MM-DD"}}"
							>date {{date format="YYYY.MM.DD"}}</time>
						</article>
					{{/foreach}}
				{{/get}}
			</div>
		</section>
	{{/tag}}
</main>