<!-- filepath: Unleash/ghost/core/content/themes/source/partials/email-templates/new-free-signup.hbs -->
<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>会員登録ありがとうございます</title>
  </head>
  <body>
    {{memberData.name}}様

    <br><br>
    この度は、{{siteTitle}}に会員登録いただき、誠にありがとうございます。<br>
    お客様のアカウント登録が正常に完了いたしました。
    <br><br>
    早速ログインして、{{siteTitle}}の様々なコンテンツをお楽しみください。
    <br><br>
    ▼ログインはこちらから<br>
    {{siteUrl}}/login
    <br><br>
    ---<br>
    {{siteTitle}}運営事務局<br>
    {{siteUrl}}
    <br><br>
    ※ このメールはシステムにより自動送信されています。ご返信いただいても対応できませんのでご了承ください。<br>
    ※ ご不明な点がございましたら、以下のお問い合わせフォームよりご連絡ください。<br>
    {{siteUrl}}/contact
  </body>
</html>