<section class="articles-section" data-section-type="{{section_type}}">
    <div class="articles-section-container">
        <div class="articles-section-header">
            <span class="articles-section-label">{{enTitle}}</span>
            <h2 class="articles-section-title">{{jaTitle}}</h2>
            <p class="articles-section-description">{{description}}</p>
        </div>
        <div class="articles-section-grid" {{#if articlesSectionId}}id="{{articlesSectionId}}"{{/if}}>
        {{#if posts}}
        {{#foreach posts}}
            {{> "components/card" post=this card_color=../section_type}}
        {{/foreach}}
        {{/if}}
        </div>

        {{#if pagination}}
        <div class="articles-pagination-wrapper">
            {{> "components/pagination" pagination=pagination class="articles-pagination" showLoadMore=true}}
        </div>
        {{/if}}
    </div>
</section>

