<section class="articles-section" data-section-type="{{section_type}}">
    <div class="articles-section-header">
        <span class="articles-section-label">{{enTitle}}</span>
        <h2 class="articles-section-title">{{jaTitle}}</h2>
        <p class="articles-section-description">{{description}}</p>
    </div>
    <div class="articles-section-card" {{#if articlesSectionId}}id="{{articlesSectionId}}"{{/if}}>
      {{#foreach posts}}
        {{!-- TODO: section_type で transparent かどうかをチェックする --}}
          {{> "components/card" post=this card_color=../section_type}}
      {{/foreach}}
    </div>

    <div class="articles-section-action">
    {{#if showMoreLink}}
        {{> "components/link-button" text="一覧を見る" href=moreLink icon="images/icons/ArrowRight.svg" color="white"}}
    {{/if}}
    {{#if showLoadMore}}
        <div id="load-more">
            {{> "components/button" text="もっと見る" attributes='data-size="full"'}}
        </div>
    {{/if}}
    <div>
</section>
