{{#if posts}}
<section class="articles-section" data-section-type="{{section_type}}">
    <div class="articles-section-header">
        <span class="articles-section-label">{{enTitle}}</span>
        <h2 class="articles-section-title">{{jaTitle}}</h2>
        <p class="articles-section-description">{{description}}</p>
    </div>
    <div class="articles-section-card" {{#if articlesSectionId}}id="{{articlesSectionId}}"{{/if}}>
    {{#foreach posts}}
        {{> "components/card" post=this card_color=../section_type}}
    {{/foreach}}
    </div>

    <div class="articles-section-action">
    {{#if showPagination}}
        {{> "components/pagination" pagination=pagination class="articles-pagination" showLoadMore=true}}
    {{/if}}
    {{#if showLoadMore}}
        {{> "components/button" text="もっと見る"}}
    {{/if}}
    <div>
</section>
{{/if}}
