<nav id="breadcrumb">
    <ul itemscope itemtype="http://schema.org/BreadcrumbList">
        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a href="{{@site.url}}" itemprop="item">
                <span itemprop="name">ホーム</span>
            </a>
            <meta itemprop="position" content="1">
        </li>

        {{!-- For post pages with tags --}}
        {{#if tags}}
            {{#unless tag}}
                {{#foreach tags limit="1"}}
                    <li class="breadcrumb-placeholder" data-tag-slug="{{slug}}" data-tag-name="{{name}}" data-post-title="{{../title}}"></li>
                {{/foreach}}
            {{/unless}}
        {{/if}}

        {{!-- For tag/category pages (when called from category.hbs) --}}
        {{#tag}}
            <li class="breadcrumb-placeholder" data-tag-slug="{{slug}}" data-tag-name="{{name}}"></li>
        {{/tag}}

        {{!-- Empty li for trailing arrow --}}
        <li></li>
    </ul>
</nav>
