<nav id="breadcrumb">
    <ul itemscope itemtype="http://schema.org/BreadcrumbList">
        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a href="{{@site.url}}" itemprop="item">
                <span itemprop="name">ホーム</span>
            </a>
            <meta itemprop="position" content="1">
        </li>

        {{!-- For post pages with tags --}}
        {{#if tags}}
            {{#foreach tags limit="1"}}
                {{!-- Women fashion magazine child tags --}}
                {{#match slug "=" "androsy-takarajimasha"}}
                    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                        <a href="/women-magazine/" itemprop="item">
                            <span itemprop="name">女性ファッション雑誌</span>
                        </a>
                        <meta itemprop="position" content="2">
                    </li>
                    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                        <a href="{{url}}" itemprop="item">
                            <span itemprop="name">{{name}}</span>
                        </a>
                        <meta itemprop="position" content="3">
                    </li>
                {{/match}}
                {{#match slug "=" "inred-takarajimasha"}}
                    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                        <a href="/women-magazine/" itemprop="item">
                            <span itemprop="name">女性ファッション雑誌</span>
                        </a>
                        <meta itemprop="position" content="2">
                    </li>
                    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                        <a href="{{url}}" itemprop="item">
                            <span itemprop="name">{{name}}</span>
                        </a>
                        <meta itemprop="position" content="3">
                    </li>
                {{/match}}
                {{#match slug "=" "with-kodansha"}}
                    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                        <a href="/women-magazine/" itemprop="item">
                            <span itemprop="name">女性ファッション雑誌</span>
                        </a>
                        <meta itemprop="position" content="2">
                    </li>
                    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                        <a href="{{url}}" itemprop="item">
                            <span itemprop="name">{{name}}</span>
                        </a>
                        <meta itemprop="position" content="3">
                    </li>
                {{/match}}

                {{!-- Women manga child tags --}}
                {{#match slug "=" "nakayosi-kodansha"}}
                    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                        <a href="/women-manga/" itemprop="item">
                            <span itemprop="name">少女・女性マンガの付録</span>
                        </a>
                        <meta itemprop="position" content="2">
                    </li>
                    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                        <a href="{{url}}" itemprop="item">
                            <span itemprop="name">{{name}}</span>
                        </a>
                        <meta itemprop="position" content="3">
                    </li>
                {{/match}}
                {{#match slug "=" "ciao-shogakukan-2"}}
                    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                        <a href="/women-manga/" itemprop="item">
                            <span itemprop="name">少女・女性マンガの付録</span>
                        </a>
                        <meta itemprop="position" content="2">
                    </li>
                    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                        <a href="{{url}}" itemprop="item">
                            <span itemprop="name">{{name}}</span>
                        </a>
                        <meta itemprop="position" content="3">
                    </li>
                {{/match}}
                {{#match slug "=" "ciao-shogakukan"}}
                    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                        <a href="/women-manga/" itemprop="item">
                            <span itemprop="name">少女・女性マンガの付録</span>
                        </a>
                        <meta itemprop="position" content="2">
                    </li>
                    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                        <a href="{{url}}" itemprop="item">
                            <span itemprop="name">{{name}}</span>
                        </a>
                        <meta itemprop="position" content="3">
                    </li>
                {{/match}}
                {{#match slug "=" "shocomi-shogakukan"}}
                    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                        <a href="/women-manga/" itemprop="item">
                            <span itemprop="name">少女・女性マンガの付録</span>
                        </a>
                        <meta itemprop="position" content="2">
                    </li>
                    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                        <a href="{{url}}" itemprop="item">
                            <span itemprop="name">{{name}}</span>
                        </a>
                        <meta itemprop="position" content="3">
                    </li>
                {{/match}}

                {{!-- Parent category: women-magazine --}}
                {{#match slug "=" "women-magazine"}}
                    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                        <a href="{{url}}" itemprop="item">
                            <span itemprop="name">女性ファッション雑誌</span>
                        </a>
                        <meta itemprop="position" content="2">
                    </li>
                {{/match}}
            {{/foreach}}
        {{else}}
            {{!-- For tag/category pages (when called from category.hbs) --}}
            {{#if slug}}
                {{#match slug "=" "androsy-takarajimasha"}}
                    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                        <a href="/women-magazine/" itemprop="item">
                            <span itemprop="name">女性ファッション雑誌</span>
                        </a>
                        <meta itemprop="position" content="2">
                    </li>
                {{/match}}
                {{#match slug "=" "inred-takarajimasha"}}
                    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                        <a href="/women-magazine/" itemprop="item">
                            <span itemprop="name">女性ファッション雑誌</span>
                        </a>
                        <meta itemprop="position" content="2">
                    </li>
                {{/match}}
                {{#match slug "=" "with-kodansha"}}
                    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                        <a href="/women-magazine/" itemprop="item">
                            <span itemprop="name">女性ファッション雑誌</span>
                        </a>
                        <meta itemprop="position" content="2">
                    </li>
                {{/match}}
                {{#match slug "=" "nakayosi-kodansha"}}
                    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                        <a href="/women-manga/" itemprop="item">
                            <span itemprop="name">少女・女性マンガの付録</span>
                        </a>
                        <meta itemprop="position" content="2">
                    </li>
                {{/match}}
                {{#match slug "=" "ciao-shogakukan-2"}}
                    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                        <a href="/women-manga/" itemprop="item">
                            <span itemprop="name">少女・女性マンガの付録</span>
                        </a>
                        <meta itemprop="position" content="2">
                    </li>
                {{/match}}
                {{#match slug "=" "ciao-shogakukan"}}
                    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                        <a href="/women-manga/" itemprop="item">
                            <span itemprop="name">少女・女性マンガの付録</span>
                        </a>
                        <meta itemprop="position" content="2">
                    </li>
                {{/match}}
                {{#match slug "=" "shocomi-shogakukan"}}
                    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                        <a href="/women-manga/" itemprop="item">
                            <span itemprop="name">少女・女性マンガの付録</span>
                        </a>
                        <meta itemprop="position" content="2">
                    </li>
                {{/match}}
                {{#match slug "=" "women-magazine"}}
                    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                        <a href="/women-magazine/" itemprop="item">
                            <span itemprop="name">女性ファッション雑誌</span>
                        </a>
                        <meta itemprop="position" content="2">
                    </li>
                {{/match}}
            {{/if}}
        {{/if}}
    </ul>
</nav>