<div id="cat_header">
    <nav id="breadcrumb">
        <ul itemscope itemtype="http://schema.org/BreadcrumbList">
            {{#if @site.navigation}}
            {{#foreach @site.navigation limit="1"}}
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a href="{{url}}" itemprop="item">
                    <span itemprop="name">{{label}}</span>
                </a>
                <meta itemprop="position" content="1">
            </li>
            {{/foreach}}
            {{/if}}
            {{#post}}
            {{#if primary_tag}}
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a href="{{primary_tag.url}}" itemprop="item">
                    <span itemprop="name">{{primary_tag.name}}</span>
                </a>
                <meta itemprop="position" content="2">
            </li>
            {{/if}}
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <span itemprop="name">{{title}}</span>
                <meta itemprop="position" content="{{#if primary_tag}}3{{else}}2{{/if}}">
            </li>
            {{/post}}
            {{#page}}
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <span itemprop="name">{{title}}</span>
                <meta itemprop="position" content="2">
            </li>
            {{/page}}
        </ul>
    </nav>
</div>