<footer class="gh-footer gh-outer">
    <div class="gh-footer-inner gh-inner">

        <span class="gh-footer-logo">
            {{#if @site.logo}}
                <img src="{{@site.logo}}" alt="{{@site.title}}">
            {{else}}
                {{@site.title}}
            {{/if}}
        </span>

        <nav class="gh-footer-menu">
            {{navigation type="secondary"}}
        </nav>

        <div class="gh-footer-copyright">
            Powered by <a href="https://ghost.org/" target="_blank" rel="noopener">Ghost</a>
        </div>

    </div>
</footer>