{{!-- Footer Component --}}
<footer class="footer">
    <div class="footer-container">
        {{!-- Logo --}}
    {{#if @site.logo}}
        <img src="{{@site.logo}}" alt="{{@site.title}}" class="header-logo-img">
    {{else}}
        <h2 class="footer-logo">{{@site.title}}</h2>
    {{/if}}


        {{!-- Navigation Links --}}
        <div class="footer-content">
            {{!-- Divider --}}
            <div class="footer-divider"></div>
             {{navigation}}
            {{!-- Copyright --}}
            <div class="footer-copyright">&copy; {{date format="YYYY"}} Magaco</div>
        </div>
    </div>
</footer>
