<footer class="gh-footer footer gh-outer">
    <div class="gh-footer-inner gh-inner">
        <div class="footer-container">
            <div class="footer-links">
                <div class="footer-group footer-group-left">
                    {{#if @site.secondary_navigation}}
                    <ul class="footer-nav">
                        {{#foreach @site.secondary_navigation limit="3"}}
                        <li><a href="{{url}}"><span>{{label}}</span></a></li>
                        {{/foreach}}
                    </ul>
                    {{/if}}
                </div>
                <div class="footer-group footer-group-center">
                    {{#if @site.secondary_navigation}}
                    <ul class="footer-nav">
                        {{#foreach @site.secondary_navigation from="4" limit="3"}}
                        <li><a href="{{url}}"><span>{{label}}</span></a></li>
                        {{/foreach}}
                    </ul>
                    {{/if}}
                </div>
                <div class="footer-group footer-group-right">
                </div>
            </div>
            <div class="footer-bottom">
                <div class="footer-copyright">
                    © 2018 {{@site.title}}
                </div>
            </div>
        </div>
    </div>
</footer>