{{!-- Magaco Header Component --}}
<header class="header">
    <div class="header-container">
        {{!-- Logo Section --}}
        <div class="header-logo">
            <a href="{{@site.url}}" class="header-logo-link">
                {{#if @site.logo}}
                    <img src="{{@site.logo}}" alt="{{@site.title}}" class="header-logo-img">
                {{else}}
                    <h1 class="header-logo-text">{{@site.title}}</h1>
                {{/if}}
            </a>
        </div>

        {{!-- Mobile Menu Toggle --}}
        <button class="header-mobile-toggle" aria-label="メニューを開く" aria-expanded="false">
            <img src="{{asset "images/icons/menu.svg"}}" alt="" width="24" height="24" />
        </button>

        {{!-- Desktop Search Bar --}}
        {{#is "home"}}
        {{!-- Hide search on home page --}}
        {{else}}
        <form class="header-search"  role="search" action="/search-results" method="GET">
            {{> "components/search-form" inputId="header-search-input" inputClass="header-search-input" buttonClass="header-search-btn"}}
        </form>
        {{/is}}

        {{!-- Navigation Menu --}}
        <nav class="header-nav" aria-label="メインナビゲーション">
            <ul class="header-nav-list">
                {{#foreach navigation}}
                    <li class="header-nav-item">
                        <a href="{{url absolute="true"}}" class="header-nav-link" {{#if current}}aria-current="page"{{/if}}>
                            {{label}}
                        </a>
                    </li>
                {{/foreach}}
            </ul>

            <div class="header-nav-desktop">
                <a class="header-nav-desktop-link" href="/about">Magacoについて</a>
                <a class="header-nav-desktop-link" href="/search-results">新着記事</a>
            </div>

            {{!-- Actions Section --}}
            <div class="header-actions">
                <div class="header-members">
                    {{#if @member}}
                        <a class="header-login-btn" href="#/portal/account" data-portal="account">アカウント</a>
                    {{else}}
                        <a class="header-login-btn" href="#/portal/signin" data-portal="signin">ログイン</a>
                    {{/if}}
                </div>
            </div>
        </nav>
    </div>
</header>
