<h2 class="gh-container-title">{{tag}}</h2>

<div class="gh-feed">
  {{#get "posts" limit="1" filter="primary_tag:{{tag}}+tag:overview"}}
    {{#foreach posts}}
      <div class="dfi-overiew-article">
        <div class="dfi-overview-article-content">
          <h2><a href="{{slug}}">{{title}}</a></h2>
          <p>{{excerpt}}</p>
        </div>
        <figure class="dfi-overview-article-image">
          <img src="{{feature_image}}" alt="{{title}}" style="height:200px;" />
        </figure>

      </div>
    {{/foreach}}
  {{/get}}
</div>

<div class="gh-feed">
  {{#get "posts" limit="1" filter="primary_tag:{{tag}}+featured:true"}}
    {{#foreach posts}}
      <div class="dfi-secondary-article">
        <figure
          class="dfi-secondary-article-image"
          style="background-image:url({{feature_image}});"
          alt="{{title}}"
        ></figure>
      </div>

      <div class="dfi-secondary-article-content">
        <h3><a href="{{slug}}">{{title}}</a></h3>
        <p>{{excerpt}}</p>
      </div>
    {{/foreach}}
  {{/get}}

</div>