<section class="gh-home-contents">
    <div class="gh-home-contents-inner">
        <div class="gh-home-contents-head">
            <h2 class="gh-home-contents-head-title">Article</h2>
            <div class="gh-home-contents-head-more">
                <span>もっとみる</span>
                {{> "icons/more-read"}}
            </div>
        </div>

        <div class="gh-home-post-feed">
            {{#get "posts" include="authors" limit="4"}}
                {{#foreach posts}}
                    <article class="gh-home-post-card">
                        <a href="{{url}}">
                            <img src="{{feature_image}}" alt="{{title}}" >
                        </a>
                        <h3 class="gh-home-post-title">{{title}}</h3>
                        <time class="gh-home-post-date">date {{date format="YYYY.MM.DD"}}</time>
                    </article>
                {{/foreach}}
            {{/get}}
        </div>
    </div>
</section>