<section class="gh-home-contents">
    <div class="gh-home-contents-inner">
        <div class="gh-home-contents-head">
            <h2 class="gh-home-contents-head-title">Article</h2>
            {{#if @member.paid}}
                <div class="gh-home-contents-head-more">
                    <a href="/articles">
                        <span>もっとみる</span>
                        {{> "icons/more-read"}}
                    </a>
                </div>
            {{/if}}
        </div>

        <div class="gh-home-post-feed">
            {{#if @member.paid}}
                {{!-- 有料メンバーの場合は4件取得 --}}
                {{#get "posts" include="authors" limit="4"}}
                    {{#foreach posts}}
                        <article class="gh-home-post-card">
                            <a href="{{url}}">
                                {{#if feature_image}}
                                    <img src="{{feature_image}}" alt="{{title}}">
                                {{else}}
                                    <img src="{{asset "images/default_post_feature_img.png"}}" alt="{{title}}">
                                {{/if}}
                            </a>
                            <h3 class="gh-home-post-title">{{title}}</h3>
                            <div class="gh-home-post-meta">
                                <span>date</span>
                                <time class="gh-home-post-date" datetime="{{date format="YYYY-MM-DD"}}">
                                    {{date format="YYYY.MM.DD"}}
                                </time>
                            </div>
                        </article>
                    {{/foreach}}
                {{/get}}
            {{else}}
                {{!-- 無料メンバーの場合は、無料2件＋有料2件取得 --}}
                {{#get "posts" filter="tags:'free'" include="authors" limit="2"}}
                    {{#foreach posts}}
                        <article class="gh-home-post-card">
                            <a href="{{url}}">
                                {{#if feature_image}}
                                    <img src="{{feature_image}}" alt="{{title}}">
                                {{else}}
                                    <img src="{{asset "images/default_post_feature_img.png"}}" alt="{{title}}">
                                {{/if}}
                            </a>
                            <h3 class="gh-home-post-title">{{title}}</h3>
                            <div class="gh-home-post-meta">
                                <span>date</span>
                                <time class="gh-home-post-date" datetime="{{date format="YYYY-MM-DD"}}">
                                    {{date format="YYYY.MM.DD"}}
                                </time>
                            </div>
                        </article>
                    {{/foreach}}
                {{/get}}
                
                {{#get "posts" filter="visibility:paid" include="authors" limit="2"}}
                    {{#foreach posts}}
                        <article class="gh-home-post-card">
                            <a href="{{url}}">
                                {{#if feature_image}}
                                    <img src="{{feature_image}}" alt="{{title}}">
                                {{else}}
                                    <img src="{{asset "images/default_post_feature_img.png"}}" alt="{{title}}">
                                {{/if}}
                            </a>
                            <h3 class="gh-home-post-title">{{title}}</h3>
                            <div class="gh-home-post-meta">
                                <span>date</span>
                                <time class="gh-home-post-date" datetime="{{date format="YYYY-MM-DD"}}">
                                    {{date format="YYYY.MM.DD"}}
                                </time>
                            </div>
                        </article>
                    {{/foreach}}
                {{/get}}
                <script>
                    document.addEventListener("DOMContentLoaded", function() {
                        const postCards = document.querySelectorAll('.gh-home-post-card');

                        // 無料ユーザーの場合、3件目以降の投稿を非表示にする
                        if (postCards.length > 2) {
                            for (let i = 2; i < postCards.length; i++) {
                                postCards[i].style.display = 'none';
                            }
                        }
                    });
                </script>
            {{/if}}
        </div>
    </div>

</section>