<header id="gh-navigation" class="gh-navigation is-{{#match navigationLayout "Logo on the left"}}left-logo{{else match navigationLayout "Stacked"}}stacked{{else}}middle-logo{{/match}}{{#match @custom.header_and_footer_color "Accent color"}} has-accent-color{{/match}} gh-outer">
    <div class="gh-navigation-inner gh-inner">
        <div class="gh-navigation-pagetitle">
            <div class="gh-navigation-brand">
                <div class="gh-navigation-brand-logo-username">
                    <a class="gh-navigation-logo is-title" href="{{@site.url}}">
                        {{#if @site.logo}}
                            <img src="{{@site.logo}}" alt="{{@site.title}}">
                        {{else}}
                            <img src="{{asset "images/navigation-logo.svg"}}" alt="{{@site.title}}">
                        {{/if}}
                    </a>
                    {{#if @member}}
                    <div class="gh-navigation-user">
                        <img src="{{@member.profile_image}}" alt="{{@member.name}}" class="gh-navigation-user-avatar">
                        <span class="gh-navigation-user-name">{{@member.name}}</span>
                    </div>
                    {{/if}}
                </div>
                <button class="gh-burger gh-icon-button" aria-label="Menu">
                    {{> "icons/burger"}}
                    {{> "icons/close"}}
                </button>
            </div>
            <div class="gh-page-title">
                {{#is "home"}}
                    <h1>Home</h1>
                {{/is}}
                {{#page}}
                    {{#if title}}
                        <h1>{{title}}</h1>
                    {{/if}}
                    {{!-- TODO：記事詳細などの時に入れる値などのロジック --}}
                {{/page}}
                {{#author}}
                    <h1>Author</h1>
                {{/author}}
                {{#tag}}
                    <h1>Articles</h1>
                {{/tag}}
            </div>
        </div>

        <nav class="gh-navigation-menu">
            {{navigation}}
        </nav>

        <div class="gh-navigation-actions">
            {{#unless @site.members_enabled}}

            {{else}}
                <div class="gh-navigation-members">
                    {{#unless @member}}
                        {{#unless @site.members_invite_only}}
                            <a href="#/portal/signin" data-portal="signin">{{t "Sign in"}}</a>
                            {{#unless hideSubscribeButton}}
                                <a class="gh-button" href="#/portal/signup" data-portal="signup">{{t "Subscribe"}}</a>
                            {{/unless}}
                        {{else}}
                            <a class="gh-button" href="#/portal/signin" data-portal="signin">{{t "Sign in"}}</a>
                        {{/unless}}
                    {{else}}
                        <a class="gh-button" href="#/portal/account" data-portal="account">{{t "Account"}}</a>
                    {{/unless}}
                </div>
            {{/unless}}
        </div>

    </div>
</header>
