<header id="gh-navigation" class="gh-navigation gh-outer">
    <div class="gh-navigation-inner gh-inner">
        <div class="gh-navigation-pagetitle">
            <div class="gh-navigation-brand">
                <div class="gh-navigation-brand-logo-username">
                    <a class="gh-navigation-logo is-title" href="{{@site.url}}">
                        <img src="{{asset "images/navigation-logo.svg"}}" alt="{{@site.title}}">
                    </a>
                    {{#if @member}}
                    <div class="gh-navigation-user">
                        {{#if @member.paid}}
                            <img src="{{@member.avatar_image}}" alt="{{@member.name}}" class="gh-navigation-user-avatar">
                        {{else}}
                            <div class="gh-navigation-user-avatar-placeholder"></div>
                        {{/if}}
                        <span class="gh-navigation-user-name">{{@member.name}}</span>
                    </div>
                    {{/if}}
                </div>
                <button class="gh-burger gh-icon-button" aria-label="Menu">
                    {{> "icons/burger"}}
                    {{> "icons/close"}}
                </button>
            </div>
            <div class="gh-navigation-title-wrapper">
                <div class="gh-page-title">
                    {{#is "home"}}
                        <h1>Home</h1>
                    {{/is}}
                    {{#is "articles"}}
                        <h1>Articles</h1>
                    {{/is}}
                    {{#author}}
                        <h1>Author</h1>
                    {{/author}}
                    {{#tag}}
                        <h1>Articles</h1>
                    {{/tag}}
                    {{#if page}}
                        <h1>{{page.title}}</h1>
                    {{else if post}}
                        <h1>Articles</h1>
                    {{/if}}
                </div>
                
                {{#if @member}}
                    <div class="gh-navigation-siginin-button">
                        <a href="#/portal/account" data-portal="subscribe">{{t "アカウント"}}</a>
                    </div>
                    {{else}}
                    <div class="gh-navigation-siginin-button">
                        <a href="#/portal/signin" data-portal="signin">{{t "ログイン"}}</a>
                    </div>
                {{/if}}
            </div>
        </div>

        <nav class="gh-navigation-menu">
            <div class="gh-navigation-menu-primary">
                {{navigation}}
                {{#if @member}}
                    <div class="gh-navigation-signout-button">
                        <div>-</div>
                        <a href="javascript:" data-members-signout>Log Out</a>
                    </div>
                {{/if}}
            </div>
            <div class="gh-navigation-menu-secondary">
                {{navigation type="secondary"}}
            </div>
        </nav>
    </div>
</header>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const header = document.querySelector('header');
        const pageTitle = document.querySelector('.gh-page-title h1');

        if (header && pageTitle) {
            const prevPageTitle = pageTitle.textContent;
            const observer = new MutationObserver(function(mutations) {
                mutations.forEach(function(mutation) {
                    if (mutation.attributeName === 'class') {
                        if (header.classList.contains('is-open')) {
                            pageTitle.textContent = 'MENU';
                        } else {
                            pageTitle.textContent = prevPageTitle;
                        }
                    }
                });
            });

            observer.observe(header, { attributes: true });
        }
    });
</script>


