<header id="gh-navigation" class="gh-navigation is-{{#match navigationLayout "Logo on the left"}}left-logo{{else match navigationLayout "Stacked"}}stacked{{else}}middle-logo{{/match}}{{#match @custom.header_and_footer_color "Accent color"}} has-accent-color{{/match}} gh-outer">
    <div class="gh-navigation-inner gh-inner">

        <div class="gh-navigation-brand">
            <a class="gh-navigation-logo is-title" href="{{@site.url}}">
                {{#if @site.logo}}
                    <img src="{{@site.logo}}" alt="{{@site.title}}">
                {{else}}
                    {{@site.title}}
                {{/if}}
            </a>
            {{> "email"}}
            <button class="gh-burger gh-icon-button" aria-label="Menu">
                {{> "icons/burger"}}
                {{> "icons/close"}}
            </button>
        </div>

        <nav class="gh-navigation-menu">
            {{navigation}}
            {{#unless @site.members_enabled}}
                {{#match navigationLayout "Stacked"}}
                    {{> "email"}}
                {{/match}}
            {{/unless}}
        </nav>

        <div class="gh-navigation-actions">
            {{#unless @site.members_enabled}}
                {{^match navigationLayout "Stacked"}}
                    {{> "email"}}
                {{/match}}
            {{else}}
                {{> "email"}}
                <div class="nav">
                    {{#unless @member}}
                        {{#unless @site.members_invite_only}}
                            {{#unless hideSubscribeButton}}
                                <span><a class="sign-google" href="https://login.spectralwebservices.com/auth/google?inbound=b89c0c7a-1b79-4c68-b75e-32060012d7ca" alt="Sign in with Google">Google</a></span>
                                <span><a class="sign-github" href="https://login.spectralwebservices.com/auth/github?inbound=b89c0c7a-1b79-4c68-b75e-32060012d7ca" alt="Sign in with Github">Github</a></span>
                            {{/unless}}
                        {{else}}
                                <span><a class="sign-google" href="https://login.spectralwebservices.com/auth/google?inbound=b89c0c7a-1b79-4c68-b75e-32060012d7ca" alt="Sign in with Google">Google</a></span>
                                <span><a class="sign-github" href="https://login.spectralwebservices.com/auth/github?inbound=b89c0c7a-1b79-4c68-b75e-32060012d7ca" alt="Sign in with Github">Github</a></span>
                        {{/unless}}
                    {{else}}
                        <a class="gh-button" href="#/portal/account" data-portal="account">Settings</a>
                    {{/unless}}
                </div>
            {{/unless}}
        </div>

    </div>
</header>
