{{!--
Pagination Component
Usage: {{> "components/pagination" pagination=pagination class="custom-class"}}

Parameters:
- pagination: Pagination object with following properties (required):
  - prev: Previous page URL
  - next: Next page URL
  - page: Current page number
  - pages: Total number of pages
- class: Additional CSS classes (optional)
- showLoadMore: Boolean to show load more button on mobile (default: false)
--}}

<nav class="pagination {{#if class}}{{class}}{{/if}}">
    {{#if pagination.prev}}
    <a href="{{pagination.prev}}" class="pagination-arrow pagination-arrow--prev">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M9 6l6 6-6 6" stroke="#0c060c" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
    </a>
    {{/if}}

    <div class="pagination-nav">
        <span class="pagination-item">{{pagination.page}}</span>
        <span class="pagination-separator">/</span>
        <span class="pagination-item">{{pagination.pages}}</span>
    </div>

    {{#if pagination.next}}
    <a href="{{pagination.next}}" class="pagination-arrow pagination-arrow--next">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M9 6l6 6-6 6" stroke="#0c060c" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
    </a>
    {{/if}}
</nav>

{{#if showLoadMore}}
    {{#if pagination.next}}
    <div class="pagination-load-more-wrapper tag-load-more-wrapper">
        {{> "components/button" text="もっと見る" class="pagination-load-more tag-load-more" attributes=(concat 'data-next-url="' pagination.next '"')}}
    </div>
    {{/if}}
{{/if}}