{{!-- Partners Component --}}
<section class="partners">
    <div class="partners-container">
        <div class="partners-header">
            <h2 class="partners-title">Magacoは下記の雑誌サービスと提携しています。</h2>
            <p class="partners-description">ここで、Magacoを使うとなにがいいんだろの情緒的なポエムのようなものがあるといいかもステートメント的な
            </p>
        </div>

        <div class="partners-logos">
            <div class="partners-logo">
                <img src="{{asset "images/partners/brutus.svg"}}" alt="BRUTUS" class="partners-logo-img">
            </div>
            <div class="partners-logo">
                <img src="{{asset "images/partners/dancyu.svg"}}" alt="dancyu" class="partners-logo-img">
            </div>
            <div class="partners-logo">
                <img src="{{asset "images/partners/rice.svg"}}" alt="RiCE" class="partners-logo-img">
            </div>
            <div class="partners-logo">
                <img src="{{asset "images/partners/tokyo-calendar.svg"}}" alt="東京カレンダー" class="partners-logo-img">
            </div>
            <div class="partners-logo">
                <img src="{{asset "images/partners/otona-no-shumatsu.svg"}}" alt="おとなの週末" class="partners-logo-img">
            </div>
            <div class="partners-logo">
                <img src="{{asset "images/partners/amakara-techo.svg"}}" alt="あまから手帖" class="partners-logo-img">
            </div>
            <div class="partners-logo">
                <img src="{{asset "images/partners/crea.svg"}}" alt="CREA" class="partners-logo-img">
            </div>
        </div>
    </div>
</section>