{{!--
    Parameters:
    * sectionTitle (string)
    * hasMore (true, false)
    * subSectionTitle (string)
    * limit (number)
    * showPagenation (true, false)
--}}
<section class="arcat-post-list-section">
    <h2 class="arcat-post-list-title">
        {{> "icons/cat-footprint"}}
        <span>{{sectionTitle}}</span>
    </h2>
    {{#if hasMore}}
        <div class="arcat-post-list-subtitle">
            <h3>{{subSectionTitle}}</h3>
            <a class="arcat-post-list-more" href="/posts">
                <span>More</span>
            </a>
        </div>
    {{else}}
        <h3 class="arcat-post-list-subtitle-no-more">
            {{subSectionTitle}}
        </h3>
    {{/if}}
    <div class="arcat-post-list">
        {{#get "posts" include="authors" limit=limit}}
            {{#foreach posts}}
                <article class="arcat-post-item">
                    <a href="{{url}}">
                        {{#if feature_image}}
                            <img class="arcat-post-item-image" src="{{feature_image}}" alt="{{title}}">
                        {{else}}
                            <img class="arcat-post-item-image" src="{{asset "images/default_post_feature.png"}}" alt="{{title}}">
                        {{/if}}
                        <div class="arcat-post-title">
                            <h4>{{title}}</h4>
                            <div class="arcat-post-meta">
                                <time datetime="{{date format="YYYY-MM-DD"}}">
                                    {{date format="YYYY/MM/DD"}}
                                </time>
                                {{#if author}}
                                    <span> {{author.name}}</span>
                                {{/if}}
                            </div>
                        </div>
                    </a>
                </article>
            {{/foreach}}
        {{/get}}
    </div>
    {{#if showPagenation}}
        {{pagination}}
    {{/if}}
</section>