<section class="gh-container is-{{#match @custom.post_list_style "List"}}list{{else}}grid{{/match}}{{#if @custom.show_sidebar}} has-sidebar{{/if}}{{#if @custom.hide_images}} no-image{{/if}} gh-outer">
    <div class="gh-container-inner gh-inner">
        
        <h2 class="gh-container-title">Latest</h2>

        <main class="gh-main">
            <div class="gh-feed">
                {{#foreach posts from="8"}}
                    {{> "loop"}}
                {{/foreach}}
            </div>
        </main>

        {{#if @custom.show_sidebar}}
            <aside class="gh-sidebar">
                <section class="gh-about">
                    {{#if @site.icon}}
                        <img class="gh-about-icon" src="{{@site.icon}}" alt="{{@site.title}}">
                    {{/if}}
                    <h3 class="gh-about-title">{{@site.title}}</h3>
                    {{#if @site.description}}
                        <p class="gh-about-description">{{@site.description}}</p>
                    {{/if}}
                    {{#if @site.members_enabled}}
                        {{#unless @member}}
                            <button class="gh-button">Subscribe</button>
                        {{/unless}}
                    {{/if}}
                </section>
            </aside>
        {{/if}}

    </div>
</section>