<section class="gh-container is-{{#match @custom.post_list_style "List"}}list{{else}}grid{{/match}}{{#if @custom.show_sidebar}} has-sidebar{{/if}}{{#if @custom.hide_images}} no-image{{/if}} gh-outer">
    <div class="gh-container-inner gh-inner">
        
        <h2 class="gh-container-title">Latest</h2>

        <main class="gh-main">
            <div class="gh-feed">
                {{#match @custom.header_style "Highlight"}}
                    {{#foreach posts from="11" limit="9"}}
                        {{> "post-card"}}
                    {{/foreach}}
                {{else match @custom.header_style "Magazine"}}
                    {{#foreach posts from="8" limit="9"}}
                        {{> "post-card"}}
                    {{/foreach}}
                {{else}}
                    {{#foreach posts limit="9"}}
                        {{> "post-card"}}
                    {{/foreach}}
                {{/match}}
            </div>
        </main>

        {{#if @custom.show_sidebar}}
            <aside class="gh-sidebar">
                <section class="gh-about">
                    {{#if @site.icon}}
                        <img class="gh-about-icon" src="{{@site.icon}}" alt="{{@site.title}}">
                    {{/if}}
                    <h3 class="gh-about-title is-title">{{@site.title}}</h3>
                    {{#if @site.description}}
                        <p class="gh-about-description is-body">{{@site.description}}</p>
                    {{/if}}
                    {{#if @site.members_enabled}}
                        {{#unless @member}}
                            <button class="gh-button">Subscribe</button>
                        {{/unless}}
                    {{/if}}
                </section>
            </aside>
        {{/if}}

        <div class="gh-more">
            <a href="/page/2">See all →</a>
        </div>

    </div>
</section>