<aside>
    <div class="footer-contents">
        <div class="sns-btn normal-sns">
            <span class="sns-btn__title dfont">SHARE</span>
            <ul>
                <li class="tw sns-btn__item">
                    <a href="https://twitter.com/share?url={{encode (url absolute="true")}}&amp;text={{encode title}}" target="_blank" rel="nofollow">
                        <i class="fa fa-twitter"></i>
                        <span class="share_txt">ツイート</span>
                    </a>
                </li>
                <li class="fb sns-btn__item">
                    <a href="https://www.facebook.com/share.php?u={{encode (url absolute="true")}}&amp;t={{encode title}}" target="_blank" rel="nofollow">
                        <i class="fa fa-facebook"></i>
                        <span class="share_txt">シェア</span>
                    </a>
                </li>
                <li class="hatebu sns-btn__item">
                    <a href="https://b.hatena.ne.jp/add?mode=confirm&amp;url={{encode (url absolute="true")}}" target="_blank" rel="nofollow">
                        <i class="fa fa-hatebu"></i>
                        <span class="share_txt">はてブ</span>
                    </a>
                </li>
                <li class="gplus sns-btn__item">
                    <a href="https://plus.google.com/share?url={{encode (url absolute="true")}}" target="_blank" rel="nofollow">
                        <i class="fa fa-google-plus" aria-hidden="true"></i>
                        <span class="share_txt">Google+</span>
                    </a>
                </li>
                <li class="pkt sns-btn__item">
                    <a href="https://getpocket.com/edit?url={{encode (url absolute="true")}}&amp;title={{encode title}}" target="_blank" rel="nofollow">
                        <i class="fa fa-get-pocket"></i>
                        <span class="share_txt">Pocket</span>
                    </a>
                </li>
                <li class="line sns-btn__item">
                    <a href="https://line.me/R/msg/text/?{{encode title}}%0D%0A{{encode (url absolute="true")}}" target="_blank" rel="nofollow">
                        <i class="fa fa-comment"></i>
                        <span class="share_txt dfont">LINE</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</aside>
